* {
  margin: 0;
  padding: 0;
}
h1,h2,h3,p,label,a{
  font-family: archia;
}

/*--------------------------------------------------Colors---------------------------------------------------*/
:root {
  --white: #fff;
  --light-theme: #f6f6f6;
  --dark-theme: #3a3b36;
  --dark-blue-theme: #25272c;
  --brand-color: #000;
  --primary: #000;
  --secondary: #000;
  --accents: #000;
  --brand-gradient: linear-gradient(35deg, var(--secondary) 10%, var(--primary) 93%);
  --brand-keyline: #e1e2e1;
}

/*---------------------------------------------------Fonts---------------------------------------------------*/
@font-face {
  font-family: archia;
  src: url(fonts/archia-medium-webfont.woff2);
}
@font-face {
  font-family: archia-bold;
  src: url(fonts/archia-bold-webfont.woff2);
}
@font-face {
  font-family: archia-semibold;
  src: url(fonts/archia-semibold-webfont.woff2);
}

/*-----------------------------------------------------Header-----------------------------------------------*/
.header {
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}
.header_text {
  font-size: 28px;
  padding: 16px;
  margin-left: 16px;
}
.link {
  display: flex;
  list-style: none;
  margin-right: 10px;
}
.nav_item {
  padding: 8px;
  text-decoration: none;
  color: var(--white);
  margin-left: 16px;
  cursor: pointer;
  font-family: archia;
  font-style: 16px;
}
#select {
  color: #161625;
}

/*----------------------------------------------------------Hero---------------------------------------------*/
.hero {
  width: 100%;
  height: auto;
}
.hero_desc {
  color: #9d9d9d;
}
.hero_text {
  padding: 10px;
}

/*-------------------------------------------------------Phone design-----------------------------------------------------*/
.iphone-x {
  height: 360px;
  width: 240px;
  display: inline-block;
  background: url(icons/iphone.jpg);
  background-size: cover;
  border: 9px solid #080808;
  border-radius: 44px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  position: relative;
}
.iphone-x:before {
  position: absolute;
  left: calc(50% - 28%);
  top: 0;
  width: 58%;
  background: #080808;
  height: 20px;
  content: "";
  border-radius: 0 0 15px 15px;
}

/*-------------------------------------------------------------Footer-------------------------------------------------------*/
.footer {
  width: 100%;
  height: auto;
  background-color: #161625;
}
.social_icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 50px;
  justify-content: center;
}
.license {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 2rem;
  padding-top: 50px;
  color: #6c757d;
  text-align: center;
  font-family: "archia";
  background-color: #161625;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg {
  fill: #26d9d9;
  color: #161625;
  cursor: pointer;
}


/*----------------------------------------------Responsive Desktop-------------------------------------------*/
@media only screen and (min-width: 768px) {
  .hero {
    font-size: 22px;
  }
  .hero_text {
   padding: 120px;
  }
}

/*-------------------------------------------------Responsive Tablets----------------------------------------*/
@media only screen and (min-width: 600px) {}
